body {
    background-color: whitesmoke;
    font-family: 'Sono', sans-serif;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 20px;
}

.top {
    display: inline-block;
    width: 50%;
}

a {
    text-decoration: unset;
    color: darkslateblue;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 30px;
}

.box {
    flex: 1;
    background-color: lightgrey;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
}

.bottom {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.bottom-container > a {
    display: ;
}

img {
    border-radius: 5px;
    width: 300px;
    /* height: 300px; */
}

@media (max-width:800px) {
    .container {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .box {
        min-width: 500px;
    }
}

