body {
    background-color: whitesmoke;
    font-family: 'Sono', sans-serif;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 20px;
}

.top {
    display: inline-block;
    width: 50%;
}

a {
    text-decoration: unset;
    color: darkslateblue;
}

a:hover {
    text-decoration: underline;
}

.container, .bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.box, .bottom a {
    flex: 1;
    background-color: lightgrey;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    margin: 10px 0;
}



.bottom a {
    flex: 1;
}

img {
    border-radius: 5px;
    width: 300px;
    /* height: 300px; */
}

@media (max-width:800px) {
    .container, .bottom {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .box {
        min-width: 500px;
    }

    .bottom > a {
        min-width: 250px;
    }
}

